@import "tailwindcss";

:root {
  --foreground: #171717;
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.invalid-message {
  color: red;
  margin-top: 0px;
  margin-bottom: 0px;
}